@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-oswald);
  
  --color-rebasa-bg-dark: #0a171d;
  --color-rebasa-bg-card: #143542;
  --color-rebasa-bg-footer: #061115;
  --color-rebasa-green: #00d98f;
  --color-rebasa-green-hover: #00bf7e;
  --color-rebasa-card-border: #1a4252;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-rebasa-bg-dark);
  color: white;
}
